/* research content css file */

.researchContentContainer {
    border: 1px solid red;
}

.researchContentContainer p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}
.researchContentItem {
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid rgb(1, 159, 59);

}
.researchContentItem > div {
    border: 1px solid red;
}

.researchContentItem div.left {
    flex-basis: 66%;
}
.researchContentItem div.right {
    flex-basis: 30%;
}

.researchContentItem h2.researchHeadline {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(1, 159, 59);
    font-size: 42px;
}

.researchContentItem div.leftContent {
    display: flex;
    flex-wrap: wrap;
}
.researchContentItem div.leftContent > div {
    flex:1 1 30%;
}
.researchContentItem div.leftContent > div:first-of-type {
    margin-right: 6%;
}


